
/*.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}*/
.example-spacer {
  flex: 1 1 auto;
}
.mat-sidenav{
  background-color:seagreen;
}

.mat-sidenav-content{
  background-color: slategrey;
}




