<div style="background-color: white; height: 100%; width: 100%;">
<h1  style="padding-left: 43%; background-color: black;">HR-Dashboard</h1>


  <td>
    <div class="barchart" >
 <canvas id="barchartId"style="height: 400px; width: 300px;"></canvas>
  <p style="color: black;">Days Vs WorkingHours</p>
</div>
</td>


<td style="height: 250px; width: 250px;">
<div class="pichartId" >
<canvas id="pichartId" style="display: flext;" ></canvas>
  <p style="color: black;">Active Employee Count vs <br>resigned EmployeeCount</p>
</div>
</td>

<td >
 <div class="barchart1" >
<canvas id="TotalSalaryBarChartId" style="height:400px; width:300px;"></canvas>
<p style="color: black;">Days Vs Salary</p>
 </div>
</td>

</div>

